body {
    background-color: #95afc0;
}
.main-body {
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    max-width: 500px;
    height: 30rem;
    top: 80%;
    margin: auto auto;
	padding-top: 2rem;
    border-radius: 20px 20px 20px 20px;
}

.js-title {
    color: white;
	font-size: 45px;
    text-align: center;
	
}

.js-form{
    display: none;
}

.js-toDoForm, .js-toDoList{
	color:white;
	text-align:center;
	list-style-type:none;
}

.js-text {
    display: none;
}

.showing {
    display: block;
    color: white;
    text-align: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 3s linear;
}